-
	var mainInfo = [
	{name: 'Имя', value: 'Александр Пилипчук'},
	{name: 'Дата рождения', value: '26 декабря 1988'},
	{name: 'Город', value: 'Хуахин'},
	{name: 'Контактные данные', value: 'devn0ll@ya.ru'}
	]
	var skills = [
	{name: 'HTML5', value: true},
	{name: 'SASS', value: true},
	{name: 'VanillaJs', value: true},
	{name: 'Git', value: true},
	{name: 'CSS3', value: true},
	{name: 'LESS', value: true},
	{name: 'Angular', value: false},
	{name: 'Foundation', value: false},
	{name: 'БЭМ', value: true},
	{name: 'Gulp', value: true},
	{name: 'jQuery', value: true},
	{name: 'Bootstrap', value: true}
	]
