*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-family-roboto;
	font-weight: 400;
	font-size: rem-calc(12px);
	background: $color-gray-light;
}
